<nav id='menu'>
  <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
  <ul class="navbar_entire">
    <li><a href='http://'>Accueil</a></li>
    <li><a href='http://'>Séries</a></li>
    <li><a href='http://'>Films</a></li>
    <li><a class='dropdown-arrow' href='http://'>Catégorie</a>
        <ul class='sub-menus'>
        <li><a href='http://'>Action</a></li>
        <li><a href='http://'>Animé</a></li>
        <li><a href='http://'>Comédie</a></li>
        <li><a href='http://'>Drame</a></li>
        <li><a href='http://'>Horreur</a></li>
        <li><a href='http://'>Policier</a></li>
        <li><a href='http://'>Romance</a></li>
        <li><a href='http://'>Séries documentaires</a></li>
        <li><a href='http://'>Science fiction</a></li>
        <li><a href='http://'>Téléréalité</a></li>
        </ul>
    <li><a href='http://'>Acteur</a></li>
    <li><a href='http://'>Ma liste</a></li>
<img src="{{asset('/images/loupe.png') }}" alt="recherche" class="test">
<img src="{{asset('/images/cloche.png') }}" alt="notifications">

  </ul>
</nav>